@import "~bootstrap/scss/bootstrap";

footer {
    background-color: white;
}

#header {
    -webkit-app-region: drag;
}

.electron-drag {
    -webkit-app-region: drag;
}

.electron-no-drag {
    -webkit-app-region: no-drag;
}

body,
html {
  -webkit-app-region: drag;
}